    :root {
        --body-bg: #123;
        --nav-bg: rgb(69,92,115);
    }

    *{
        box-sizing: border-box;
        /*border: 1px solid red; kırmızı çizgilerle
        her bir div üzerindne layout'u gösteriyor*/
    }

    html {
        font-family: system-uni, sans-serif;

    }

    body {
        min-height: 200vh;
        margin: 0;
        font-size:1.50rem;
        background: var(--body-bg);
        color: white;
        display: grid;
        grid-template-columns: 15rem 1fr;
        gap: 4rem;
        position:fixed;

    }


    nav {
    position: sticky;
    top: 0;
    max-height: 100svh;
    background: var(--nav-bg);
    }



    .nav-list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        gap: 2rem;
        padding-block: 2rem;
    }


    .nav-list li{
    padding: 1rem 2rem;
    margin-left:2rem ;
    border-radius: 100vw 0 0 100vw;
    }

    .nav-list li.active{
        background: var(--body-bg);
        position: relative;
    }


    .nav-list li.active::before,
    .nav-list li.active::after {
    --border-radius: 2rem;
        content:'';
        position: absolute;
        width: var(--border-radius);
        height: var(--border-radius);
        right: 0;
        background: var(--nav-bg);
    }

    .nav-list li.active::before {
        top: calc(var(--border-radius)*-1);
        border-radius: 0 0 100vw 0;
        box-shadow: 10px 10px 0 10px var(--body-bg);
    }
    .nav-list li.active::after{
    border-radius: 0 100vw 0 0;
        box-shadow: 10px -10px 0 10px var(--body-bg);
        bottom: calc(var(--border-radius)*-1) ;

    }
    .nav-list a{
        color: white;
        display: block;
        text-decoration: none;
        position: relative;
        z-index: 10;
    }
    .input-box {
        display: flex;
        align-content: center;
        justify-content: flex-start;
        flex-direction: column;
        width: 200%;
        height: auto;
        margin: 10px;
        position:relative;
    }
    .input-box input {
        width: 100%;
        padding: 10px;
        padding-right: 30px;
    border-radius: 30px;
    } /* Boşluk bırakıyoruz ikona yer açmak için */

    .input-box input::placeholder{
        font-size: 16px;
    }
    .input-box i {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        color: gray;
    }

    button.btn{
        margin: 20px;
        border-radius: 20px;
        padding: 10px;
        font-size: 16px;
        width: 50%;

    }

    .nav-list i {
        position:absolute;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 30px;
    }

      .about {
          font-family: system-uni;
          font-size: 20px;
      }


