@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');


:root {
    --background: rgba(0, 214, 170, .85);/* .85 ile ilgili bölümü daha belirgin ya da
    daha blur yapıyo*/
}

*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}
.content {
    height: 200vh;
    background-image: url(//unsplash.it/1000/1000);
    background-color: #333;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
}

 header{
     background:var(--background);
     text-align: center;
     position: fixed;
     z-index: 999;
     width: 100%;
 }

 .nav-toggle{
     display: none;
 }
 .nav-toggle-label{
     position: absolute;
     top: 0;
     left: 0;
     margin-left: 1em;
     height: 100%;
     display: flex;
     align-items: center;
 }

 .nav-toggle-label span,
 .nav-toggle-label span::before,
 .nav-toggle-label span::after{
     display: block;
     background: white;
     height: 2px;
     width: 2em;
     border-radius: 2px;
     position: relative;
 }

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content:'';
    position: absolute;
}
.nav-toggle-label span::before{
    bottom: 7px;
}
.nav-toggle-label span::after{
    top: 7px;
}

 nav{
    position: absolute;
     text-align: left;
     left: 0;
     top: 100%;
     background: var(--background);
     width: 100%;
     transform: scale(1,0); /* ilk değer yatay sıkıştırma işlemi
      ikinci değer de dikey sıkıştırma işlemi için*/
    transform-origin: top;
    transition: transform 400ms ease-in-out;
 }

 nav ul {
     list-style: none;
     margin: 0;
     padding: 0;

 }
 nav li{
     margin-bottom:1em;
     margin-left: 1em;
 }

 nav a {
    color: white;
     text-decoration: none;
    text-transform: uppercase;
     font-size: 1.2rem;
     opacity: 0;
     transition: opacity 150ms ease-in-out; /* ikinci 250 ms animasyon
     başlamadan önceki 250milisaniyelik delay'i anlatıyor!*/
 }
 nav a:hover {
     color:#000;
 }

.nav-toggle:checked ~ nav { /* Bunu bu şekilde yapmadan farklı bir şekilde
 yapmasının yolu yok mu?*/
transform: scale(1,1);
}
.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px){ /* sayfa genişlediğinde sağdaki
nav toggle kaynolacak ve header ekledi bir nevi container, nav listemizdkile r
böylece sayfanın saf ana ekranında beliriyor ve onlara ayar veriyor burada*/
.nav-toggle-label {
    display: none;
}
    header{
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;/* Css grid için kullanılan bir şet fr leftover space
         and right over space auto ile "Logo otomatik olarak başlama noktası olarak belirlenmiş oluyor ve min max ile de navların büyüklüğü ve soldan kaç fr
         boşluk olduğunu anlatıyor"*/
    }
    .logo {
        grid-column: 2/ span 1;
    }

    nav {
        all:unset;
        grid-column:3/4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav ul {
        display: flex;
    }
    nav li {
        margin-left: 3em;
        margin-bottom:0;
    }

    nav a{
        opacity: 1;
        position: relative;
    }
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background:black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1,1);
    }

}

.search{
    position: absolute;
    top: 0;
    right:0;
    margin: 10px;
}
.search i{
    font-size: 1.5rem;
    color: dimgrey;
    font-weight: 800;
}
.search i:hover {
    color: black;
}

 /* I started writing codes for search.html page*/


















